<% include partials/header %>

<div class="container" style="text-align: center; margin: 10% auto;">
    <h1 id="landing">YelpRoom</h1>
    <p style="font-size:30px;">Start planning your next trip today</p>
    <hr style="width: 50%;">
    <a class="btn btn-info" href="/rooms">Get Started!</a>
</div>

<% include partials/footer %>
